<app-menu-home></app-menu-home>
<div id="apresentacao">
  <div class="container">
    <div class="row align-items-center">
        <div class="col-6">
            <p class="display-4 cor-textos-principal">Seleção fácil e rápida de candidatos para suas vagas!</p>
            <p class="cor-textos-principal">Administre seus processos seletivos com os melhores especialistas em recrutamento do mercado e aproveite de nossas soluções te ajudam na contratação dos profissionais mais capacitados.</p>
        </div>
        <div class="col-6 text-center">
            <img src="assets/images/principal.png" alt="" width="450">
        </div>
    </div>
  </div>

  <div class="card-group margem-superior">
      <div class="card imagem-vantagem">
        <img src="assets/images/automatizacao.png" width = "60" />
        <div class="card-body" align-items-center>
          <h5 class="card-title">Automação dos recursos de seleção</h5>
          <p class="card-text">Trabalhamos com os melhores especialistas em recrutamento do mercado, realizando processos seletivos adaptados aos princípios de visão e valores da empresa.</p>
        </div>
      </div>
      <div class="card imagem-vantagem">
        <img src="assets/images/softskills.png" width = "60" />
        <div class="card-body" align-items-center>
          <h5 class="card-title">Soft Skils</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="card imagem-vantagem">
        <img src="assets/images/recrutamento.png" width = "60" />
        <div class="card-body" align-items-center>
          <h5 class="card-title">Recrutamento perfeito</h5>
          <p class="card-text">Ao priorizar as demandas especificas de contratação para cada vaga, asseguramos a seleção de profissionais de alto desempenho, com competências técnicas e comportamentais aprimoradas voltadas ao desenvolvimento de soluções e apresentação de resultados.</p>
        </div>
      </div>
    </div>