
@{
    ViewData["Title"] = "Index";
}

<h1>Gestão de Clientes e Fornecedores</h1>
<ul>
    <li><a asp-action="CadastroCliente" asp-controller="Pessoas">Cadastro de clientes</a></li>
    <li><a asp-action="CadastroFornecedor" asp-controller="Pessoas">Cadastro de fornecedores</a></li>
    <li><a asp-action="ListarPessoas" asp-controller="Pessoas">Lista de Pessoas</a></li>
</ul>