<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">RH Empresas</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Soluções
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Gerenciamento de Vagas</a></li>
              <li><a class="dropdown-item" href="#">Recrutamento e Seleção</a></li>
              <li><a class="dropdown-item" href="#">Diversidade e Inclusão</a></li>
              <li><a class="dropdown-item" href="#">Soft Skills</a></li>
            </ul>
          </li>
        </ul>
        <button class="btn btn-primary margem-botoes" routerLink="/cadastro">Cadastre-se</button> 
        <button class="btn btn-secondary margem-botoes" routerLink="/login">Login</button>
      </div>
    </div>
  </nav>