@model System.Exception

@{
    ViewData["Title"] = "_Erro";
}

<h1 class="text-danger">Ops...ocorreu o segunte erro:</h1>
<div class="alert alert-danger">
    @Model.Message
</div>
@Html.ActionLink("Voltar para a lista", "ListarPessoas", "Pessoas")
