.registro{
    display: block;
    position: fixed;
    top: 300px;
    right: 35px;
    width: 160px;
    height: 100px;
    padding-top: 60px;
    opacity: 1;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 100%;
    text-shadow: 0 1px 0 #000;
    transform: rotate(6deg);
    background: -ms-linear-gradient(top, #dd3d3d 0%,#761313 100%);
    background: -webkit-linear-gradient(top, #dd3d3d 0%,#761313 100%);
     background: -moz-linear-gradient(top, #dd3d3d 0%,#761313 100%);
    background: linear-gradient(top, #dd3d3d 0%,#761313 100%);
    transition: transform 1s;
}

.registro:hover{
    color:#fff;
    background: linear-gradient(top, #761313 0%,#761313 100%);
    transform: rotate(16deg) scale(1.1,1.1);
    transition: transform 1s;
}

.registro:before{
    display: block;
    position: absolute;
    top: -7;
    right: -7;
    height: 168px;
    width: 168px;
    content: "";
    border-radius: 100%;
}
.registro.free{
    font-size: 80%;
}

@media screen and (max-width: 760px){
    .registro{
        display: none;
    }
}