@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Bem vindo ao ASP.NET Core MVC</h2>
    <h3>Escolha uma opção</h3>
    <ul>
        <li>@Html.ActionLink("Exibir Texto Puro", "ExibirTexto", "Exemplos")</li>
        <li>@Html.ActionLink("Exibir Action Conteudo", "Conteudo", "Exemplos")</li>
        <li>@Html.ActionLink("Cadastro de produtos", "Cadastro", "Exemplos")</li>
    </ul>
</div>
