<div class="container margem-superior">
  <div class="alert alert-success text-center">
      Conteúdo do componente AppComponent!
  </div>

  <div class="row">

    <div class="col-6">
      <h3>Exemplo 01 - Binding Unidirecional (property binding - Vínculo atraves de propriedade)</h3>
      <span>Número aleatório: </span>
      <input type="text" [value]="rnd" />
      <div class="mb-3">
        <button class="btn btn-primary">Alterar</button>
      </div>
    </div>

    <div class="col-6">

    </div>

  </div>

</div>