
@{
    ViewData["Title"] = "Index";
}

<h1>Inscrições em Eventos</h1>
<ul>
    <li><a asp-action="EfetuarInscricao" asp-controller="Inscricoes">Efetuar Inscrição</a></li>
    <li><a asp-action="ListarConvidados" asp-controller="Inscricoes">Listar Convidados por Evento</a></li>
    <li><a asp-action="ListarConvidadosAjax" asp-controller="Inscricoes">Listar Convidados por Evento - Ajax</a></li>
    <li><a asp-action="ListarEventos" asp-controller="Inscricoes">Listar Eventos por Convidado</a></li>
    <li><a asp-action="ListarEventosAjax" asp-controller="Inscricoes">Listar Eventos por Convidado - Ajax</a></li>
</ul>
