
@{
    ViewData["Title"] = "Index";
}

<h1>Inscrições em Eventos</h1>
<ul>
    <li><a asp-action="EfetuarInscricao" asp-controller="Inscricoes">Efetuar Inscrição</a></li>
    <li><a asp-action="ListarConvidados" asp-controller="Inscricoes">Listar Convidados por evento</a></li>
</ul>
