@{
    ViewData["Title"] = "Home Page";
}

<h1>Bem vinde ao sistema de gerenciamento de eventos e convidados</h1>
<h3>Selecione uma tarefa:</h3>
<ul>
    <li><a asp-action="Index" asp-controller="Eventos">Gestão de Eventos</a></li>
</ul>