@model Projeto01.ConceitosMVC.Models.Produto
@*ou @model Produto*@
<div class="margem">
    <h1>Dados recebidos da pessoa:</h1>
    <span>Código: @Model.Codigo</span><br>
    <span>Descrição: @Model.Descricao</span><br>
    <span>Preço: @Model.Preco</span><br>
</div>