@model Projeto02.GestaoEventos.Models.Evento

@{
    ViewData["Title"] = "CadastroEvento";
}

<h1>Incluir novo evento</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CadastroEvento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="mb-3">
                <label asp-for="descricao" class="control-label"></label>
                <input asp-for="descricao" class="form-control" />
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="responsavel" class="control-label"></label>
                <input asp-for="responsavel" class="form-control" />
                <span asp-validation-for="responsavel" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="preco" class="control-label"></label>
                <input asp-for="preco" class="form-control" />
                <span asp-validation-for="preco" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="data" class="control-label"></label>
                <input asp-for="data" class="form-control" />
                <span asp-validation-for="data" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Incluir" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

