
@{
    ViewData["Title"] = "Index";
}

<h1>Gestão de Eventos - Escolha uma opção</h1>
<ul>
    <li><a asp-action="ListarTodos" asp-controller="Eventos">Listar Eventos</a></li>
    <li><a asp-action="CadastroEvento" asp-controller="Eventos">Incluir novo evento</a></li>
    @*<li><a asp-action=""></a></li>*@
</ul>
