@{
    ViewData["Title"] = "Index";
}

<h1>Gestão de Pessoas - Escolha uma opção</h1>
<ul>
    <li><a asp-action="ListarTodos" asp-controller="Convidados">Listar Convidados</a></li>
    <li><a asp-action="AdicionarConvidado" asp-controller="Convidados">Incluir novo convidado</a></li>
</ul>
