<div class="container margem-superior">
    <h1 class="text-lg-center margem-titulo-inferior">Login Funcionário</h1>
    <form class="margem-form mb-5">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="usuario">
            <label for="floatingInput">Usuário</label>
          </div>
          <div class="form-floating mb-4">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Senha">
            <label for="floatingPassword">Senha</label>
          </div>
        <button type="button" class="btn btn-primary" (click)="entrar()">Entrar</button>
    </form>
</div>